.nav-buttons{
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    background-color: #2593fb;
    height: 30px;
    width: 30px;
    font-size: 15px;
    margin: 0 5px;
}

.nav-buttons:hover{
    cursor: pointer;
}

.selected{
    background-color: white;
    border: 1px solid #2593fb;
    color: #2593fb;
}

.pagenavigation{
    position: absolute;
    bottom: 7%;
    left: 35%;
}

.button-disabled{
    background-color: gray;
}

.button-disabled:hover{
    cursor: not-allowed;
}